<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="signup.css">
    <title>SignUp</title>
</head>
<body>
    <img src="med-2.jpg" >
    <div>
       
        <h1 class="title">SignUp</h1>
        <div class="rectangle1"></div>
        <h3 class="em">Email</h3>
        <input type="email" placeholder="Enter Email" class="ie">
        <h3 class="user">Username</h3>
        <input type="text" placeholder="Enter Username" class="iu">
        <h3 class="ps">Password</h3>
        <input type="pass" placeholder="Enter Password" class="ip"><br>
        <button class="bs">Submit</button>
    
    </div>
</body>
</html>